#heading {
  text-align: center;
  font-family: Helvetica, Sans-Serif;
}

#inspired {
  text-align: center;
  font-family: Helvetica, Sans-Serif;
}

.calculator-buttons {
  text-align: center;
  font-family: Helvetica, Sans-Serif;
  font-size: 48px
}
